html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

textarea {
    resize: none;
}

/* Side nav */
.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.bar {
    margin-top: 5px;
    margin-left: 5px;
    height: 98%;
    width: 90%;
    border-radius: 5px;
    background-color: #2a2a2e;
}

.main {
    float: right;
    margin-right: 5px;
    height: 100%;
    width: 90%;
}


/* Chat containers */

#chat-display-window {
    height: 87%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #a3a2ac;
}

#chat-input-window{
    height: 13%;
}

.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}


/* Darker chat-container */

.darker {
    border-color: #ccc;
    background-color: #ddd;
}


/* Clear floats */

.chat-container::after {
    content: "";
    clear: both;
    display: table;
}


/* Style images */

.chat-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


/* Style the right image */

.chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}


/* Style time text */

.time-right {
    float: right;
    color: #aaa;
}


/* Style time text */

.time-left {
    float: left;
    color: #999;
}